* {
  border: none;
  border-radius: 5px;
  font-family: "IBM Plex Mono Text", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 1);
  /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
  /*color: #00ff00;*/
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces,
#mode,
#network {
  padding: 0 5px;
  margin-right: 20px;
  color: #fff;
}

#workspaces button {
  padding: 0 5px;
}
#workspaces button:hover {
  color: #000000;
  background: #00aa00;
}
#workspaces button.focused {
  color: #00ff00;
}
#workspaces button.urgent {
  color: #ff0000;
}

#mode {
  padding: 0 10px;
  color: #ff0000;
}

#network {
  margin-left:20px;
  color: #fff;
}

#clock,
#pulseaudio,
#backlight,
#battery,
#temperature,
#cpu,
#memory {
  padding: 0 8px;
  margin-right: 5px;
  color: #fff;
}

#clock {
  border-top: 1px solid #00ff00;
}

#battery.warning {
  color: orange;
}
#battery.critical {
  color: red;
}

#temperature.critical {
  border-top: 1px solid red;
}

#cpu.med {
  border-top: 1px solid #A7D8DE;
}
#cpu.high {
  border-top: 1px solid yellow;
}
#cpu.very_high {
  border-top: 1px solid magenta;
}

#memory.high {
  border-top: 1px solid cyan;
}
#memory.very_high {
  border-top: 1px solid blue;
}
